html body {
  background-color: rgb(53, 5, 60);
}

#quote-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 50%;
  max-width: 50%;
}

#text {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 46px;
  color: rgb(249, 244, 236);
}

#author {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 24px;
  color: rgb(249, 244, 236);
}

#new-quote {
  float: left;
  background-color: rgb(126, 65, 225);
  color: rgb(249, 244, 236);
  border-radius: 5px;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
}

#tweet-quote {
  float: right;
  color: rgb(249, 244, 236);
  font-size: 24px;
  font-family: 'Playfair Display', serif;
}